@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Raleway:wght@400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

.backToPrompt{
  position: relative;
  grid-column: 1;
  font-size: 20px;
  justify-self: start;
  padding: 2%;
  color: inherit;
}



.quote {
  grid-column: 1;
  font-size: 50px;
  font-family: "Philosopher", sans-serif;
  margin-top: 5%;
  padding-top: 9%;
  width: 80%;
  padding-left: 5%;
}

.quoteFooter {
  grid-column: 1;
  font-size: 50px;
  font-family: "Philosopher", sans-serif;
  z-index: 1;
}

.philosopherWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: fixed;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.photo {
  grid-column: 2;
  position: absolute;
  align-self: center;
  width: 65%;
  height: 50%;
}
